<h2>Russian vocabulary</h2>
<div class="col-xs-12 contenedor-parrafos-vocabulario">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Hi</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Приве́т</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">pri-vyét</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Russian (masculine)</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Ру́сский</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">rús-kij</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Russian (feminine)</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Ру́сская</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">rús-kaya</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Yes</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Да</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">da</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">No</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Нет</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">nyet</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">I</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Я</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">ya</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">You</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Ты</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">ty</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h2>Dialogues in Russian</h2>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi!</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т!</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">pri-vyét.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi! How are you? I (am) Elena, and you? </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т! Как дела́? Я - Еле́на, а ты? </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion"> pri-vyét. kak dye-Lá? Ya ye-lyé-na, a ty?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">And I (am) Michael.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">А я Майкл.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">a ya maj-kl.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">(Are) you Russian?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Ты ру́сский?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">ty rús-kij</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">No, and you?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Нет, а ты?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">nyet a ty?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Yes, I (am) Russian. </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Да, я ру́сская.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">da ya rus-ka-ya</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>

<h2>Dialogue 2</h2>

<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">(Are) you Russian?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Ты ру́сская?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">Ty rús-ka-ya?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Yes, I (am) Russian. And you? (Are) you Russian? </p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Да, я ру́сская. А ты? Ты ру́сский?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">Da, ya rús-ka-ya. A ty? Ty rús-kij?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">No, I'm American.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Нет, я америка́нец.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">Nyet, ya a-mye-ri-ká-nyets.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
    <!-- Cierre del div "contenedor-parrafos"-->
</div>

<h2>Russian grammar</h2>
<h3>The verb "to be" in present</h3>
<p>
    The verb "to be" is expressed in Russian by the verb "<span class="basico-raiz">быть</span>" (pronunciation: [byt']).
    In the dialogues above you have seen that the verb "to be" only appears in the English translation (I am, you are, he is,...).
</p>

<p>
    That is because in modern Russian, the verb "<span class="basico-raiz">быть</span>" is not written when used in present tense (but it is in the past and future).
    Look at the following examples:
</p>

<div class="row">
    <div class="col-xs-6">
        <p>Ivan is an actor.</p>
        <p>You are Peter.</p>
        <p>I am Helen.</p>
    </div>
    <div class="col-xs-6">
        <p>Ива́н - актёр.</p>
        <p>Ты Пётр.</p>
        <p>Я Еле́на.</p>
    </div>
</div>

<p>In the first phrase (<span class="basico-raiz">Ива́н - актёр</span>) you can see that in the punctuation mark "-" is used instead of the verb to be.</p>

<p>You will see this mark often in books and it is useful to know how to use it. Just remember that the meaning of a sentence is the same with or without this mark</p>

<div class="col-md-6 col-xs-12">
    <h3 class="leccion-ruso-titulo-gramatica">The three genders</h3>
    <p>Russian nouns, adjectives and pronouns have genders:</p>
    <ol>
        <li>masculine</li>
        <li>feminine</li>
        <li>neuter</li>
    </ol>
    <p>In English, nouns have no gender, so this can be confusing. It is difficult to say why table in Russian (стол) is masculine and a bed (крова́ть) is feminine. There is no logic in determining the gender, so you must learn it by heart.</p>
    <p>The ending of a word can help us to identify its gender. Look for example at the endings we have seen in the dialogues:</p>
    <ul>
        <li>"<span class="basico-raiz">ру́сс</span><span class="basico-desinencia">кий</span>" (masculine) </li>
        <li>"<span class="basico-raiz">ру́сс</span><span class="basico-desinencia">кая</span>" (feminine) </li>
    </ul>
    <p>The word "Russian" is an adjective. In the dialogues we have seen that "ий" is a masculine ending for adjectives and "ая" is a feminine ending for adjectives. There are many other endings which you will be learning little by little during this course.</p>
</div>