<div class="col-sm-10 col-xs-12">
    <div class="leccion-curso-marco">
        <img class="img-responsive leccion-curso-img-principal" src="/images/lesson02-phrase-01.png" alt="Russian course - Lesson 2">
        <h1 class="leccion-curso-h1">
            Russian course <br>
            <small class="small-leccion-curso">Basic Russian for beginners</small>
        </h1>
        <h2 class="leccion-curso-h2-titulo">Lesson 2: <br>I speak Russian very well</h2>
        <hr class="leccion-curso-hr-en-marco">
        <div class="leccion-curso-bloque-descripcion">
            <p>In this lesson you will learn:</p>
            <ul>
                <li>the personal pronouns "he", "she" and "it"</li>
                <li>basic rules of verbs in the present tense</li>
                <li>new Russian vocabulary</li>
            </ul>
        </div>
    </div>
</div>
<h2>Useful phrase in Russian</h2>
<div class="col-xs-12">
    <div class="leccion-ruso-frase-util-frases">
        <p>
            <span class="leccion-ruso-frase-util-ruso">Я говорю́ по-ру́сски о́чень хорошо́</span><br>
            <span class="leccion-ruso-frase-util-transcripcion">ya ga-va-ryú pa-rús-ki ó-chyen ha-ra-shó</span><br>
            <span class="leccion-ruso-frase-util-traduccion">I speak Russian very well</span>
        </p>
    </div>
</div>
<div class="col-xs-12">
    <p><span class="leccion-ruso-resaltado-frase-util">Pronunciation</span>: You have just heard the word "хорошо́" (well). It is not pronounced "ho-ro-shó" but "ha-ra-shó". Why? In Russian, the vowel "o" is pronounced "o" only when it is stressed. Otherwise it is pronounced "a".</p>
</div>
<h2>Russian vocabulary</h2>
<div class="col-xs-12 contenedor-parrafos-vocabulario">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">To speak</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Говори́ть</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">ga-va-rít'</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Very</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">О́чень</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">ó-chen</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">But</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Но</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">no</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Thank you</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Спаси́бо</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">spa-sí-ba</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">He</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Он</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">on</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">She</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Она́</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">a-ná</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">And</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">И</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">i</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">To speak Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Говори́ть по-ру́сски</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">ga-va-rít' pa-rús-ki</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Well</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Хорошо́</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">ha-ra-shó</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h2>Dialogues in Russian</h2>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 1</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi Michael!</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т, Майкл!</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">pri-vyét maj-kl</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi Elena! How are you?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т, Еле́на! Как дела́?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">pri-vyét ye-lyé-na. kak dye-Lá?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Very well, thanks.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">О́чень хорошо́, спаси́бо.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">ó-chyen ha-ra-shó spa-sí-ba</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 2</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi, are you Russian?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т. Ты ру́сский?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">pri-vyét. Ty rús-kij?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">No, I am American, but I speak Russian.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Нет, я америка́нец, но говорю́ по-ру́сски.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">nyét, ya a-me-ri-ká-nyets, no ga-va-ryú pa-rús-ki.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Wow, you speak Russian very well!</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Ого́, ты говори́шь по-ру́сски о́чень хорошо́.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">o-hó, ty ga-va-rísh pa-rús-ki ó-chyen ha-ra-shó.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Thank you!</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Спаси́бо!</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">spa-sí-ba.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 3</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">He is American, but he speaks Russian very well.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Он америка́нец, но он говори́т по-ру́сски о́чень хорошо́.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">on a-mye-ri-ká-nyets, no on ga-va-rít pa-rús-ki ó-chyen ha-ra-shó.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">She is American, but she speaks Russian very well.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Она́ америка́нка, но она́ говори́т по-ру́сски о́чень хорошо́.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">a-ná a-mye-ri-kán-ka, no a-ná ga-va-rít pa-rús-ki ó-chyen ha-ra-shó.</p>
        </div>
    </div>


    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<div class="col-xs-12 contenedor-titulo-seccion-leccion-curso">
    <img src="/images/russian-course-grammar.png" class="img-responsive" alt="Russian grammar">
    <h2>Russian grammar</h2>
    <p>Read the following grammar explanations for this lesson:</p>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <h3 class="leccion-ruso-titulo-gramatica">Personal pronouns: third person</h3>
        <p>In this lesson you have learnt 3rd person singular pronouns in Russian. As in English, the verb does not change for masculine and feminine in the present tense:</p>
        <ul>
            <li>Он говори́т (he speaks)</li>
            <li>Она́ говори́т (she speaks).</li>

        </ul>
        <p>In future lessons we will see that this does not happen in the past tense: there are different forms for masculine and feminine.</p>
        <p> In the previous lesson you have learnt that in Russian there is a neuter gender. There is also a personal pronoun for this gender: <span class="basico-raiz">оно́</span> (it is pronounced "a-no").</p>

        <p>Attention: <span class="basico-raiz">оно́</span> is neither used in the same situations nor as often as "it" in English. </p>
    </div>
    <div class="col-md-6 col-xs-12">
        <h3 class="leccion-ruso-titulo-gramatica">Verb conjugation: present tense</h3>
        <p>After the first two lessons, you have already seen the conjugation of the present tense in singular (я, ты, он). Verbs in Russian are built adding different endings to a common root.</p>
        <p>Have a look to this example:</p>
        <div class="row">
            <div class="col-xs-6">
                <p><span class="basico-raiz">To speak</span></p>
                <p>I <span class="basico-raiz">speak</span></p>
                <p>You <span class="basico-raiz">speak</span></p>
                <p>He / she  <span class="basico-raiz">speak</span><span class="basico-desinencia">s</span></p>
            </div>
            <div class="col-xs-6">
                <p><span class="basico-raiz">Говор</span><span class="basico-desinencia">и́ть</span></p>
                <p>Я <span class="basico-raiz">говор</span><span class="basico-desinencia">ю́</span></p>
                <p>Ты <span class="basico-raiz">говор</span><span class="basico-desinencia">и́шь</span></p>
                <p>Он / она́ <span class="basico-raiz">говор</span><span class="basico-desinencia">и́т</span></p>
            </div>
        </div>

    </div>

</div>