<div class="leccion-curso-marco">
    <img class="img-responsive leccion-curso-img-principal" src="/images/lesson09-phrase-01.png" alt="Russian course - Lesson 9">
    <h1 class="leccion-curso-h1">
        Russian course <br>
        <small class="small-leccion-curso">Basic Russian for beginners</small>
    </h1>
    <h2 class="leccion-curso-h2-titulo">Lesson 9: <br>My name is Natasha, and what's your name? </h2>
    <hr class="leccion-curso-hr-en-marco">
    <div class="leccion-curso-bloque-descripcion">
        <p>In this lesson you will learn:</p>
        <ul>
            <li>the cases of some personal pronouns</li>
            <li>to form the opposite (antonym) of an adjective</li>

        </ul>
    </div>
</div>
<div class="col-xs-12 contenedor-titulo-seccion-leccion-curso">
    <img src="/images/russian-course-useful-phrase.png" class="img-responsive" alt="Useful phrase in Russian">
    <h2>Useful phrase in Russian</h2>
    <p>Listen and repeat the following sentence:</p>
</div>
<div class="col-xs-12">
    <div class="leccion-ruso-frase-util-frases">
        <p>
            <span class="leccion-ruso-frase-util-ruso">Меня́ зову́т Ната́ша. А как тебя́ зову́т?</span><br>
            <span class="leccion-ruso-frase-util-transcripcion">mye-nyá za-vút na-tá-sha. a kak tye-byá za-vút?</span><br>
            <span class="leccion-ruso-frase-util-traduccion">My name is Natasha. And what's your name? </span>
        </p>
    </div>
</div>
<div class="col-xs-12">
    <p><span class="leccion-ruso-resaltado-frase-util">Russian cases</span>: In this lesson you will see that sometimes instead of saying я, we say меня́ or мне. That is because я is sometimes the "direct object"  in the sentence (and turns into меня́) or the "indirect object" (and turns into мне).</p>
    <p>In English he transforms into him (direct object) in a sentence like "I saw him".</p>
</div>
<div class="col-xs-12 contenedor-titulo-seccion-leccion-curso">
    <img src="/images/russian-course-vocabulary.png" class="img-responsive" alt="Russian vocabulary">
    <h2>Russian vocabulary</h2>
    <p>Read, listen and repeat the basic vocabulary of this lesson:</p>
</div>
<div class="col-xs-12 contenedor-parrafos-vocabulario">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">To say / to tell</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Сказа́ть</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">ska-zát'</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Time</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Вре́мя</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">vryé-mya</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Please</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Пожа́луйста</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">pa-zhá-Lus-ta</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">If</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Е́сли</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">yés-li</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Good-looking (male)</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Краси́вый</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">kra-sí-vij</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Good-looking (female)</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Краси́вая</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">kra-sí-va-ya</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">True / really</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Пра́вда</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">práv-da</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">There is / there are</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Есть</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">yést'</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">I have</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">У меня́ есть</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">u mye-nyá yest'</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">You have</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">У тебя́ есть</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">u tye-byá yest'</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">For me</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Для меня́</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">dlya mye-nyá</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">For you</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Для тебя́</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario parrafo-traduccion">dlya tye-byá</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<div class="col-xs-12 contenedor-titulo-seccion-leccion-curso">
    <img src="/images/russian-course-dialogues.png" class="img-responsive" alt="Russian dialogues">
    <h2>Dialogues in Russian</h2>
    <p>These dialogues will help you memorise this lesson's vocabulary: </p>
</div>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 1</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">I saw you yesterday.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Я ви́дела тебя́ вчера́.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">ya ví-dye-La tye-byá fchye-rá.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">You saw me yesterday?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Ты ви́дела меня́ вчера́?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">ty ví-dye-La mye-nyá fchye-rá?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Yes... I have time for you always, but not yesterday. Sorry.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Да... у меня́ есть вре́мя для тебя́ всегда́, но не вчера́. Извини́.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">da... u mye-nyá yest' vryé-mya dlya tye-byá fsyeg-dá, no nye fchye-rá. iz-vi-ní.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">You have always time, but not for me.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">У тебя́ всегда́ есть вре́мя, но не для меня́.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">u tye-byá fsyeg-dá yest' vryé-mya, no nye dlya mye-nyá.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 2</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">You know? I don't like him.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Зна́ешь? Он мне не нра́вится.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">zná-yesh? on mnye nye nrá-vit-sya.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">But he told me, that you are cute.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Но он сказа́л мне, что ты краси́вая.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">no on ska-záL mnye, shto ty kra-sí-va-ya.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">He said that? Then I'm telling you, that for me he is ugly.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Он э́то сказа́л? А я скажу́ тебе́, что для меня́ он некраси́вый.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">On é-ta ska-záL? A ya ska-zhú tye-byé shto dlya mye-nyá on nye-kra-sí-vyj.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 3</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row leccion-ruso-parrafo-idiomas">
        <div class="col-md-4 col-sm-12">
            <p>English</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Russian</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p>Pronunciation</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi, my name is Michael, and what's your name?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т. Меня́ зову́т Майкл, а как тебя́ зову́т?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">pri-vyét. mye-nyá za-vút maj-kL, a kak tye-byá za-vút?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi. My name is Natasha.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т. Меня́ зову́т Ната́ша.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">pri-vyét. mye-nyá za-vút na-tá-sha.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">I saw you yesterday.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Я ви́дел тебя́ вчера́.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">ya ví-dyeL tye-byá fchye-rá.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Really? You saw me and you didn't tell me anything?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Пра́вда? Ты ви́дел меня́ и ты мне ничего́ не сказа́л?</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">práv-da? ty ví-dyeL mye-nyá i ty mnye ni-chye-vó nye ska-záL?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">I didn't tell you anything, because my Russian (is) bad.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Я ничего́ не сказа́л тебе́, потому́ что мой ру́сский нехоро́ший.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">ya ni-chye-vó nye ska-záL tye-byé, pa-ta-mú shta moj rús-kij nye-ha-ró-shij.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">But that isn't true. You speak very well.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo">Но э́то не пра́вда. Ты о́чень хорошо́ говори́шь.</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-dialogo parrafo-traduccion">no é-ta nye práv-da. ty ó-chyen' ha-ra-shó ga-va-rísh.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 contenedor-titulo-seccion-leccion-curso">
            <img src="resources/art_course/russian-course-grammar.png" class="img-responsive" alt="Russian grammar">
            <h2>Russian grammar</h2>
            <p>Read the following grammar explanations for this lesson:</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3 class="leccion-ruso-titulo-gramatica">What is "to decline"?</h3>
            <p>When you decline a word you modify it. After that, the word has a new function in a sentence.</p>
            <p>In English we don't decline  nouns:</p>
            <ul>
                <li>Subject: The <span class="basico-destacar-palabra">man</span> is big.</li>
                <li>Object: I saw the <span class="basico-destacar-palabra">man</span>.</li>

            </ul>
            <p>However, pronouns are declined:</p>
            <ul>
                <li>Subject: <span class="basico-destacar-palabra">he</span> is big.</li>
                <li>Object: I saw <span class="basico-destacar-palabra">him</span> yesterday.</li>

            </ul>
            <p>This modification is called "<span class="basico-destacar-palabra">case</span>". So, you could say that "him" is a case of the pronoun "he".</p>
        </div>
        <div class="col-md-6 col-xs-12">
            <h3 class="leccion-ruso-titulo-gramatica">Some opposites (antonyms) in Russian</h3>
            <p>In Russian you can find adjectives like these:</p>
            <ul>
                <li>Good (хоро́ший) - bad (плохо́й)</li>
                <li>good-looking (краси́вый) - ugly (уро́дливый)</li>
            </ul>
            <p>But there is an easier way to create the opposite of an adjective: simply adding  "<span class="basico-desinencia">не</span>" to the adjective:</p>
            <ul>
                <li>хоро́ший (good) - нехоро́ший (not good = bad)</li>
                <li>краси́вый (good-looking) - некраси́вый (not good-looking = ugly)</li>
            </ul>
            <p>Pay also attention to the transformation of the following particles when adding "<span class="basico-desinencia">ни</span>":</p>
            <ul>
                <li>когда́ (when) - никогда́ (never)</li>
                <li>где (where) - нигд́е (nowhere)</li>
                <li>кто (who) - никто́ (nobody)</li>
            </ul>

        </div>
        <div class="col-md-6 col-xs-12">
            <h3 class="leccion-ruso-titulo-gramatica">Examples of cases seen in this lesson</h3>
            <p>In Russian we decline pronouns, nouns and adjectives. In other words, pronouns, nouns and adjectives can have "cases".</p>
            <p>Now you will see examples of cases from this lesson's dialogues. They are cases of the pronouns you already know (я, ты, он,...). In this lesson you have seen, for example, меня́ / мне (cases of "я") or тебя́ / тебе́ (cases of "ты").</p>
            <p>Example taken from dialogue 1:</p>
            <ul>
                <li>You saw <span class="basico-destacar-palabra">me</span> yesterday? </li>
                <li>Ты ви́дела <span class="basico-destacar-palabra">меня́</span> вчера́?</li>
            </ul>
            <p>"Me" is the accusative case of "I". In English we can't say "You saw I yesterday?", we have to transform "I" into "me".</p>
            <p>"Меня́" is the accusative case of "я". In Russian we can't say  "Ты ви́дела Я вчера́?", we have to transform "я" into "меня́".</p>
            <p>Example taken from dialogue 3:</p>
            <ul>
                <li>I saw <span class="basico-destacar-palabra">you</span> yesterday.</li>
                <li>Я ви́дел <span class="basico-destacar-palabra">тебя́</span> вчера́.</li>
            </ul>
            <p>In this example "you" doesn't change. We can say "You have money" and "Mary saw you".</p>
            <p>Pay attention that this doesn't happen to "I", because we say "I have money" and "Mary saw me" (instead of "Mary saw I").</p>
            <p>In Russian "тебя́" is the accusative case of "ты". We can't say "Я ви́дела ты": we have to transform "ты" into "тебя́".</p>
        </div>
        <div class="col-md-6 col-xs-12">
            <h3 class="leccion-ruso-titulo-gramatica">The Russian cases</h3>
            <p> When we decline a word, we classify it in "cases". The grammatical case expresses the function of a word (subject, direct or indirect object...). In Russian there are 6 cases (so far you only know the nominative):</p>
            <ol>
                <li>Nominative (subject)</li>
                <li>Genitive (possession) </li>
                <li>Accusative (direct object)</li>
                <li>Dative (indirect object)</li>
                <li>Instrumental ("with someone" / "with something")</li>
                <li>Prepositional (when there is a preposition before the noun)</li>
            </ol>
            <p><i>* Remember that we have a course to help you with cases. Here you can go to <a href="lessons-russian-cases-01.php">lesson 1</a></i></p>
        </div>
    </div>
</div>