<div class="leccion-curso-marco">
    <img class="img-responsive leccion-curso-img-principal leccion-casos-img-principial" src="/images/lesson-cases-prepositional.png" alt="The prepositional case - Russian course">
    <h1 class="leccion-curso-h1">
        Russian cases <br>
        <small class="small-leccion-curso">Free course to learn all Russian cases</small>
    </h1>
    <h2 class="leccion-curso-h2-titulo">Lesson 11:<br>Prepositional - Part 2</h2>
    <hr class="leccion-curso-hr-en-marco">
    <div class="leccion-curso-bloque-descripcion">
        <p>The prepositional case of adjectives</p>
    </div>
</div>
<div class="col-xs-12 contenedor-titulo-seccion-leccion-curso">
    <img src="/images/russian-course-useful-phrase.png" class="img-responsive" alt="Introduction to Russian cases">
    <h2>Introduction to the prepositional case</h2>
</div>
<div class="col-xs-12 leccion-ruso-titulo-gramatica">
    <h3>When is the prepositional case used?</h3>
</div>
<div class="col-xs-12">
    <p>Generally, we use the prepositional case...</p>
    <ul>
        <li>with the prepositions в y на (on / in / at): Я в шко́ле - I'm at school /  Моя́ кни́га на столе́ - My book is on the table</li>
        <li>with the preposition о (about): Я ду́маю о тебе́ - I'm thinking about you</li>
    </ul>
</div>
<div class="col-xs-12 leccion-ruso-titulo-gramatica">
    <h3>What will we learn in this lesson?</h3>
</div>
<div class="col-xs-12">
    <p>We are going to learn the prepositional case of adjectives and pronouns.</p>
</div>
<div class="col-xs-12 contenedor-parrafos-vocabulario">
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">журнали́стка</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">(female) journalist</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">городско́й</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">urban, city (adjective)</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">собы́тие</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">event</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">сосе́д (masc.) / сосе́дка (fem.)</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">neighbour</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">Да́льний Восто́к</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">the Far East</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">ме́сто</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">place</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">совреме́нный</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">modern</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">ди́кое живо́тное</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">wild animal</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">нау́ка</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">science</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">плане́та</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">planet</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">космона́вт</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">cosmonaut, astronaut</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">учёный</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">scientist</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">пе́рвый, второ́й, тре́тий, четвёртый, пя́тый, шесто́й, седьмо́й, восьмо́й, девя́тый, деся́тый</p>
        </div>
        <div class="col-md-4 col-sm-12">
            <p class="leccion-ruso-parrafo-vocabulario">first, second, third, forth, fifth, sixth, seventh, eighth, ninth, tenth</p>
        </div>
        <div class="col-md-4 col-sm-12">
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h2>Dialogues in Russian</h2>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 1</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т, Ната́ша! Я слы́шал, что ты сейча́с живёшь в <span class="casos-destacar-caso">большо́м го́роде</span>?</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi Natasha! I've heard that now you live in a <span class="casos-destacar-caso">big city</span>.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Да, в <span class="casos-destacar-caso">про́шлом году́</span> я нашла́ рабо́ту в <span class="casos-destacar-caso">Москве́</span>. Ра́ньше я жила́ в ма́ленькой кварти́ре в <span class="casos-destacar-caso">плохо́м райо́не</span>, но на <span class="casos-destacar-caso">про́шлой неде́ле</span> я нашла́ но́вую кварти́ру и о́чень ра́да.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Yes, <span class="casos-destacar-caso">last year</span> I found a job in <span class="casos-destacar-caso">Moscow</span>. Before, I lived in a <span class="casos-destacar-caso">small apartment</span> in a <span class="casos-destacar-caso">bad neighbourhood</span>, but <span class="casos-destacar-caso">last week</span> I found a new apartment and I'm very happy.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Как здо́рово! А я живу́ в <span class="casos-destacar-caso">на́шем ма́леньком го́роде</span> и то́же рад. Я журнали́ст и рабо́таю в <span class="casos-destacar-caso">популя́рной газе́те</span>.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">That's great! And I live in <span class="casos-destacar-caso">our small city</span> and I'm also happy. I'm a journalist and work for a <span class="casos-destacar-caso">popular newspaper</span>.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">А о <span class="casos-destacar-caso">чём</span> ты пи́шешь?</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">And <span class="casos-destacar-caso">what</span> do you write about?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Обо <span class="casos-destacar-caso">всём</span>. Иногда́ я пишу́ о <span class="casos-destacar-caso">городско́й жи́зни</span>, иногда́ о <span class="casos-destacar-caso">спорти́вных собы́тиях</span>, а иногда́ об <span class="casos-destacar-caso">изве́стных лю́дях</span>. А где ты рабо́таешь?</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">About <span class="casos-destacar-caso">everything</span>. Sometimes I write about <span class="casos-destacar-caso">urban life</span>, sometimes about <span class="casos-destacar-caso">sport events</span>, and sometimes about <span class="casos-destacar-caso">famous people</span>. And where do you work?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Я рабо́таю в <span class="casos-destacar-caso">языково́й шко́ле</span>, преподаю́ ру́сский язы́к. Мои́ ученики́ - иностра́нцы. Они́ рабо́тают в <span class="casos-destacar-caso">иностра́нных компа́ниях</span> в <span class="casos-destacar-caso">Москве́</span>. Я люблю́ расска́зывать им о <span class="casos-destacar-caso">ру́сском языке́</span>, о <span class="casos-destacar-caso">ру́сской культу́ре</span> и о <span class="casos-destacar-caso">на́ших тради́циях</span>.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">I work in a <span class="casos-destacar-caso">language school</span>, I teach Russian. My pupils are foreigners. They work for <span class="casos-destacar-caso">foreign companies</span> in <span class="casos-destacar-caso">Moscow</span>. I love telling them about the <span class="casos-destacar-caso">Russian language</span>, about the <span class="casos-destacar-caso">Russian culture</span> and about <span class="casos-destacar-caso">our traditions</span>.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 2</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т, сосе́дка! Ты зна́ешь, кто сейча́с живёт в <span class="casos-destacar-caso">пя́той кварти́ре</span> на <span class="casos-destacar-caso">пе́рвом этаже́</span>?</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi neighbour! Do you know, who lives now in the <span class="casos-destacar-caso">fifth apartment</span> on the <span class="casos-destacar-caso">first floor</span>?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Я ду́маю, что в <span class="casos-destacar-caso">э́той кварти́ре</span> живу́т Ивано́вы. Ивано́в - врач и рабо́тает в <span class="casos-destacar-caso">де́тской больни́це</span>, а Ивано́ва рабо́тает в <span class="casos-destacar-caso">ста́ром теа́тре</span> на <span class="casos-destacar-caso">Зелёной у́лице</span>.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">I think that in <span class="casos-destacar-caso">that apartment</span> live the Ivanovs. Mr Ivanov is a doctor and works at a <span class="casos-destacar-caso">children's hostpital</span>, and Mrs Ivanova works at an <span class="casos-destacar-caso">old theatre</span> in <span class="casos-destacar-caso">Green Street</span>.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Да нет! Ивано́вы живу́т в <span class="casos-destacar-caso">шесто́й кварти́ре</span> на <span class="casos-destacar-caso">второ́м этаже́</span>. А я спра́шиваю о <span class="casos-destacar-caso">но́вых сосе́дях</span>.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">No! The Ivanovs live in the <span class="casos-destacar-caso">sixth apartment</span> on the <span class="casos-destacar-caso">second floor</span>. And I'm asking about the <span class="casos-destacar-caso">new neighbours</span>.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Я не зна́ла, что в <span class="casos-destacar-caso">на́шем до́ме</span> есть но́вые сосе́ди.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">I didn't know that in <span class="casos-destacar-caso">our building</span> there are new neighbours.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Они́ прие́хали на <span class="casos-destacar-caso">про́шлой неде́ле</span>. Говоря́т, что ра́ньше они́ жи́ли на <span class="casos-destacar-caso">Да́льнем Восто́ке</span>, а сейча́с они́ на <span class="casos-destacar-caso">пе́нсии</span> и хотя́т жить в <span class="casos-destacar-caso">ти́хом ме́сте</span>.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">They came <span class="casos-destacar-caso">last week</span>. (People) say that before they were living in the <span class="casos-destacar-caso">Far East</span>, but now they are <span class="casos-destacar-caso">retired</span> and they want to live in a <span class="casos-destacar-caso">quiet place</span>.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Я зна́ю, о <span class="casos-destacar-caso">каки́х сосе́дях</span> ты говори́шь! Он е́здит на <span class="casos-destacar-caso">ста́рой кра́сной маши́не</span>, а она́ всегда́ хо́дит в магази́н в <span class="casos-destacar-caso">ужа́сном си́нем пла́тье</span>!</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">I know <span class="casos-destacar-caso">which neighbours</span> you're talking about! He moves in an <span class="casos-destacar-caso">old red car</span> and she goes to the supermarket in a <span class="casos-destacar-caso">horrible blue dress</span>!</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Да, э́то они́! Ты зна́ешь что́-нибудь о <span class="casos-destacar-caso">них</span>, об <span class="casos-destacar-caso">их де́тях</span>. Что они́ де́лали на <span class="casos-destacar-caso">Да́льнем Восто́ке</span>?</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Yes, that's <span class="casos-destacar-caso">them</span>! Do you know anything about them, about <span class="casos-destacar-caso">their children</span>, what did they do in the <span class="casos-destacar-caso">Far East</span>?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Спроси́ об <span class="casos-destacar-caso">э́том</span> у Лю́си. Она́ всё обо <span class="casos-destacar-caso">всех</span> зна́ет.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Ask Lucy about <span class="casos-destacar-caso">it</span>. She knows everything about <span class="casos-destacar-caso">everyone</span>.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h3 class="leccion-ruso-numero-de-dialogo">Dialogue 3</h3>
<div class="col-xs-12 contenedor-parrafos-dialogo">
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Приве́т, Ле́на! О <span class="casos-destacar-caso">чём</span> ты чита́ешь?</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Hi Lena! <span class="casos-destacar-caso">What</span> are reading about?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Я чита́ю о <span class="casos-destacar-caso">ма́леньких де́тях</span> и об <span class="casos-destacar-caso">их жи́зни</span> в <span class="casos-destacar-caso">совреме́нной шко́ле</span>. Я учу́сь на <span class="casos-destacar-caso">психологи́ческом факульте́те</span> и люблю́ чита́ть о <span class="casos-destacar-caso">ра́зных лю́дях</span> и <span class="casos-destacar-caso">их пробле́мах</span>. А о <span class="casos-destacar-caso">чём</span> ты чита́ешь?</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">I'm reading about <span class="casos-destacar-caso">little children</span> and <span class="casos-destacar-caso">their life</span> in the <span class="casos-destacar-caso">modern school</span>. I'm studying at the <span class="casos-destacar-caso">faculty of psychology</span> and I love reading about <span class="casos-destacar-caso">different people</span> and <span class="casos-destacar-caso">their problems</span>. And <span class="casos-destacar-caso">what</span> do you read about?</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Я не о́чень люблю́ чита́ть. Я предпочита́ю смотре́ть переда́чи о <span class="casos-destacar-caso">живо́тных</span>. На <span class="casos-destacar-caso">сле́дующей неде́ле</span> бу́дет переда́ча о <span class="casos-destacar-caso">ди́ких живо́тных</span> в <span class="casos-destacar-caso">ру́сских леса́х</span>. Ду́маю, что бу́дет интере́сно. </p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">I don't love reading very much. I prefer watching programs on <span class="casos-destacar-caso">animals</span>. <span class="casos-destacar-caso">Next week</span> there'll be a program on <span class="casos-destacar-caso">wild animals</span> in the <span class="casos-destacar-caso">Russian forests</span>. I think it's going to be interesting.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Мо́жет быть. А я чита́ю журна́лы о <span class="casos-destacar-caso">совреме́нной нау́ке</span>. На <span class="casos-destacar-caso">э́той неде́ле</span> я чита́ла интере́сную статью́ о <span class="casos-destacar-caso">на́шей плане́те</span> и о <span class="casos-destacar-caso">други́х плане́тах</span> в <span class="casos-destacar-caso">на́шей систе́ме</span>. О́чень интере́сно.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Maybe. And, I read magazines about <span class="casos-destacar-caso">modern science</span>. <span class="casos-destacar-caso">This week</span> I've read an interesting article about <span class="casos-destacar-caso">our planet</span> and <span class="casos-destacar-caso">other planets</span> in <span class="casos-destacar-caso">our system</span>. Very interesting.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Кста́ти, ты зна́ешь, что в <span class="casos-destacar-caso">ма́рте</span> в <span class="casos-destacar-caso">совреме́нном теа́тре</span> бу́дет спекта́кль о <span class="casos-destacar-caso">ру́сских космона́втах</span>? Я ещё не́ был в теа́тре в <span class="casos-destacar-caso">э́том году́</span>! Мы мо́жем купи́ть дешёвые биле́ты в <span class="casos-destacar-caso">интерне́те</span>.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">By the way, do you know that in <span class="casos-destacar-caso">March</span> in the <span class="casos-destacar-caso">modern theatre</span> there's going to be a performance about <span class="casos-destacar-caso">Russian cosmonauts</span>? I still haven't been to the <span class="casos-destacar-caso">theatre this year</span>! We can buy cheap tickets on the <span class="casos-destacar-caso">internet</span>.</p>
        </div>
    </div>
    <!-- Párrafo -->
    <div class="row texto-dos-colores">
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Отли́чная иде́я! В <span class="casos-destacar-caso">э́том теа́тре</span> всегда́ де́лают интере́сные спекта́кли об <span class="casos-destacar-caso">изве́стных учёных</span>. Дава́й сейча́с посмо́трим биле́ты на <span class="casos-destacar-caso">моём компью́тере</span>.</p>
        </div>
        <div class="col-sm-6 col-xs-12">
            <p class="leccion-ruso-parrafo-dialogo">Excellent idea! In <span class="casos-destacar-caso">that theatre</span> they always do interesting performances about <span class="casos-destacar-caso">famous scientists</span>. Let's check tickets in <span class="casos-destacar-caso">my computer</span>.</p>
        </div>
    </div>

    <!-- Cierre del div "contenedor-parrafos"-->
</div>
<h2>Russian grammar</h2>
<p>Read the following grammar summary. We will learn the cases from this lesson.</p>
<div class="row">
    <div class="col-xs-12 leccion-ruso-titulo-gramatica">
        <h3>The prepositional Case: Adjetives</h3>
    </div>
    <div class="col-xs-12">
        <p>In the dialogues we have seen examples of Prepositional Case (Prep.) in adjectives. Below we will learn more about it</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xs-12">
        <h3>Adjective + Noun in singular</h3>

        <p>
            We have <span class="casos-desinencia-genero">highlighted</span> the endings in the tables for each gender.
        </p>
        <div class="col-xs-12 leccion-casos-cuadro-gramatica leccion-casos-masculino">
            <p>Masculine: -ом -ем&gt;</p>
            <ul>
                <li>
                    Э́то мой но́вый стол (Nom.).<br>
                    <span class="leccion-casos-traduccion-gramatica">This is my new table.</span>
                </li>
                <li>
                    Я ду́маю о моём но́в<span class="basico-desinencia">ом</span> столе́ (Prep.).<br>
                    <span class="leccion-casos-traduccion-gramatica">I think about my new table.</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 leccion-casos-cuadro-gramatica leccion-casos-femenino">
            <p>Feminine: -ой -ей</p>
            <ul>
                <li>
                    Э́то моя́ ма́ленькая соба́ка (Nom.).<br>
                    <span class="leccion-casos-traduccion-gramatica">This is my small dog.</span>
                </li>
                <li>
                    Я ду́маю о мое́й ма́леньк<span class="basico-desinencia">ой</span> соба́ке (Prep.).<br>
                    <span class="leccion-casos-traduccion-gramatica">I think about my small dog.</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 leccion-casos-cuadro-gramatica leccion-casos-neutro">
            <p>Neuter: -ом -ем</p>
            <ul>
                <li>
                    Это моё большое окно (Nom).<br>
                    <span class="leccion-casos-traduccion-gramatica">This is my big window.</span>
                </li>
                <li>
                    Я думаю о моём больш<span class="basico-desinencia">ом</span> окне (Prep.).<br>
                    <span class="leccion-casos-traduccion-gramatica">I think about my big window.</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <h3>Adjective + Noun in plural</h3>

        <p>
            We have <span class="casos-desinencia-genero">highlighted</span> the endings in the tables for each gender.
        </p>
        <div class="col-xs-12 leccion-casos-cuadro-gramatica leccion-casos-masculino">
            <p>Masculine: -ых -их</p>
            <ul>
                <li>
                    Э́то мои́ но́вые столы́ (Nom.).<br>
                    <span class="leccion-casos-traduccion-gramatica">These are my new tables.</span>
                </li>
                <li>
                    Я ду́маю о мо<span class="basico-desinencia">и́х</span> но́вых стола́х (Prep.).<br>
                    <span class="leccion-casos-traduccion-gramatica">I think about my new tables.</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 leccion-casos-cuadro-gramatica leccion-casos-femenino">
            <p>Feminine: -ых -их</p>
            <ul>
                <li>
                    Э́то мои́ ма́ленькие соба́ки (Nom.).<br>
                    <span class="leccion-casos-traduccion-gramatica">These are my small dogs.</span>
                </li>
                <li>
                    Я ду́маю о мои́х ма́леньк<span class="basico-desinencia">их</span> соба́ках (Prep.).<br>
                    <span class="leccion-casos-traduccion-gramatica">I think about my small dogs.</span>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 leccion-casos-cuadro-gramatica leccion-casos-neutro">
            <p>Neuter: -ых -их</p>
            <ul>
                <li>
                    Э́то мои́ больши́е о́кна (Nom).<br>
                    <span class="leccion-casos-traduccion-gramatica">These are my big windows.</span>
                </li>
                <li>
                    Я ду́маю о мои́х больш<span class="basico-desinencia">и́х</span> о́кнах (Prep.).<br>
                    <span class="leccion-casos-traduccion-gramatica">I think about my small windows.</span>
                </li>
            </ul>
        </div>
    </div>
</div>